@import "../../styles/variabels/variabels.scss";

.products {
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(37, 34, 34);
  padding-top: 100px;
  padding-right: 3vw;
  padding-left: 3vw;
  padding-bottom: 100px;
  position: relative;
  .products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    .product {
      background-color: #333;
      color: $input-text-color;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      display: flex;
      img {
        width: 200px;
        height: 300px;
      }
      .product-details {
        width: 300px;
        display: flex;
        flex-direction: column;
        padding: 12px;
        h1 {
          color: $dark-orange-color;
          margin: 0;
        }
        .actions {
          display: flex;
          align-items: center;
          gap: 10px;
          svg {
            cursor: pointer;
          }
        }
      }
    }
  }
}
