//light
$light-page-background-color: #e4e4ed;
$light-orange-color: #f3ae2d;
$light-primary-color: #070928;
$light-input-background-color: #070928;
$light-input-text-color: #ffffff;
$light-button-background-color: #0a23a4;
$light-error: #e90f0f;

//dark
$dark-page-background-color: #070928;
$dark-orange-color: #f9a504;
$dark-error: #980808;
$dark-primary-color: #ffffff;
$dark-input-background-color: #0e1358;
$dark-input-text-color: #ffffff;
$dark-button-background-color: #3456ff;
