$text-s3: 0.25rem;
$text-s2: 0.5rem;
$text-s1: 0.75rem;

$text-m1: 1rem;
$text-m2: 1.25rem;
$text-m3: 1.5rem;

$text-l1: 2rem;
$text-l2: 3rem;
$text-l3: 4rem;
$text-l4: 5rem;
$responsive-1: 320px;
$responsive-2: 480px;
$responsive-3: 600px;
$responsive-4: 768px;
$responsive-5: 900px;
$responsive-6: 1024px;
$responsive-7: 1200px;
