@font-face {
  font-family: "Libre Caslon";
  src: url("./assets/fonts/LibreCaslonText-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Requiem_Requiem";
  src: url("./assets/fonts/Requiem_Requiem.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
