@import "../../../../../styles/variabels/variabels.scss";
.cart-page {
  .cart-overlay-show {
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    animation: fadeIn 1s;
    top: 0;
    left: 0;
  }
  .cart-overlay-hide {
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: fadeOut 1s forwards;
    top: 0;
    pointer-events: none;
    left: 0;
  }
  .cart-overlay-hide-fast {
    animation: fadeOut 0s forwards;
  }
  .cart-drawer {
    background-color: rgb(21, 19, 19);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 50%;
    height: 100%;
    padding: 36px;
    left: 50%;
    top: 0;
    z-index: 1000;
    animation: fadeInRight 1s;
    .product {
      background-color: #333;
      color: $input-text-color;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      display: flex;
      width: 100%;
      img {
        width: 150px;
        height: 200px;
      }
      .product-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 12px;
        h1 {
          color: $dark-orange-color;
          margin: 0;
          font-size: $text-m1;
        }
        h3 {
          font-size: $text-s1;
        }
        .actions {
          display: flex;
          align-items: center;
          gap: 10px;
          svg {
            cursor: pointer;
          }
        }
      }
    }
    h1 {
      color: $input-text-color;
    }
  }
  .cart-drawer-show {
    animation: fadeInRight 1s forwards;
  }

  .cart-drawer-hide-fast {
    animation: fadeOutRight 0s forwards;
  }

  .cart-drawer-hide {
    animation: fadeOutRight 1s forwards;
  }
}
